/* Main Container Styling */
#main{
    display:flex;
    gap:24px;
}

/* Search Section  */
#city-list{
    display:flex;
    gap:12px;
}

#city-search{
    display:flex;
    flex-direction:column;
    gap:12px;
}

/* Set Initial Visibility of Error Messaging & the Recent City Header */
#error-message, #recent{
    visibility:hidden;
}

#error-message {
    display:flex;
    justify-content:center;
    margin-bottom:12px;
}

/* Forecast Styling */
#fiveday {
    display:flex;
    gap:8px;
    padding:8px;

}